@using BlazingTrails.Client.Features.Auth
@using BlazingTrails.Client.State
@inject AppState AppState
@implements IDisposable

<nav class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
    </a>
</nav>

<div class="container d-flex justify-content-between">
    <p>You have <span class="font-weight-bold">@AppState.FavoriteTrailsState.FavoriteTrails.Count</span> <a href="/favorite-trails">favorite trails</a></p>
</div>

<LoginStatus />

@code{

    protected override void OnInitialized() => AppState.FavoriteTrailsState.OnChange += StateHasChanged;

    void IDisposable.Dispose() => AppState.FavoriteTrailsState.OnChange -= StateHasChanged;
}